/* Header */

.header {
    width: 100%;
    height: 65px;
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}

.title {
    float: left;
}

.title h1, h3 {
    margin: 0 5px;
}

.cart {
    float: right;
    border-left: 1px dotted gray;
    height: 100%;
    padding: 0 20px;
}

/* Search Bar */

.search-container {
    border: 1px solid pink;
}

.search-top {
}

#search-textbox {
    width: auto;
}

.search-popular ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-popular li {
    display: inline;
}

.search-popular a {
    text-decoration: none;
    padding: 0 5px;
}

/* Navigation */

.nav-left {
    float: left;
    width: 100px;
}

.nav-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    border: 1px solid gray;
}

.nav-left a {
    text-decoration: none;
}

/* Content */

.main {
    margin-left: 100px;
    padding-left: 5px;
}

.content {
    width: 100%;
    border: 1px solid green;
}

/* Footer */

.footer {
    clear: both;
    width: 100%;
    height: 80px;
    border: 1px solid blue;
}